[submodule "roles/geerlingguy.docker"]
	path = roles/geerlingguy.docker
	url = https://github.com/geerlingguy/ansible-role-docker
[submodule "roles/geerlingguy.composer"]
	path = roles/geerlingguy.composer
	url = https://github.com/geerlingguy/ansible-role-composer
[submodule "roles/geerlingguy.daemonize"]
	path = roles/geerlingguy.daemonize
	url = https://github.com/geerlingguy/ansible-role-daemonize
[submodule "roles/geerlingguy.firewall"]
	path = roles/geerlingguy.firewall
	url = https://github.com/geerlingguy/ansible-role-firewall
[submodule "roles/geerlingguy.git"]
	path = roles/geerlingguy.git
	url = https://github.com/geerlingguy/ansible-role-git
[submodule "roles/geerlingguy.java"]
	path = roles/geerlingguy.java
	url = https://github.com/geerlingguy/ansible-role-java
[submodule "roles/geerlingguy.nodejs"]
	path = roles/geerlingguy.nodejs
	url = https://github.com/geerlingguy/ansible-role-nodejs
[submodule "roles/geerlingguy.php"]
	path = roles/geerlingguy.php
	url = https://github.com/geerlingguy/ansible-role-php
[submodule "roles/geerlingguy.php-pecl"]
	path = roles/geerlingguy.php-pecl
	url = https://github.com/geerlingguy/ansible-role-php-pecl
[submodule "roles/geerlingguy.php-xdebug"]
	path = roles/geerlingguy.php-xdebug
	url = https://github.com/geerlingguy/ansible-role-php-xdebug
[submodule "roles/geerlingguy.postfix"]
	path = roles/geerlingguy.postfix
	url = https://github.com/geerlingguy/ansible-role-postfix
[submodule "roles/geerlingguy.ruby"]
	path = roles/geerlingguy.ruby
	url = https://github.com/geerlingguy/ansible-role-ruby
[submodule "roles/geerlingguy.security"]
	path = roles/geerlingguy.security
	url = https://github.com/geerlingguy/ansible-role-security
[submodule "roles/alban.andrieu.jmeter"]
	path = roles/alban.andrieu.jmeter
	url = https://github.com/AlbanAndrieu/ansible-jmeter
