[Desktop Entry]
Type=Application
Exec=xhost +si:localuser:root
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Xwayland
Name=Xwayland
Comment[en_US]=Allow root to use Xdisplay from user's terminal
Comment=Allow root to use Xdisplay from user's terminal